## Dataset

In [39]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_csv('housing_data.csv')
df.head()

,X1 house age,X2 distance to the nearest MRT station,X3 number of convenience stores,X4 latitude,X5 longitude,Y house price of unit area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

## Single Variable Predictor

In [6]:
house_age = df['X1 house age'].to_numpy()
x = house_age
y = df['Y house price of unit area'].to_numpy()

In [19]:
e_x = np.mean(x)
e_y = np.mean(y)
e_xy = np.mean(x*y)

cov_x_y = e_xy - (e_x * e_y)
var_x = np.var(x)

m = (cov_x_y/var_x)

c = e_y - (e_x * m)
y_pred = m*x + c

mse = np.mean(np.square(y_pred-y))
print(f"mse  : {mse}")

mse  : 176.50047403131393

## Multivariable Output

In [20]:
df.columns

Index(['X1 house age', 'X2 distance to the nearest MRT station',
       'X3 number of convenience stores', 'X4 latitude', 'X5 longitude',
       'Y house price of unit area'],
      dtype='object')

In [90]:
x1 = df['X1 house age'].to_numpy()
x2 = df['X2 distance to the nearest MRT station'].to_numpy()
x3 = df['X3 number of convenience stores'].to_numpy()
x4 = df['X4 latitude'].to_numpy()
x5 = df['X5 longitude'].to_numpy()

y = df['Y house price of unit area']

x0_ones = np.ones((414))

x = np.dstack((x0_ones,x1,x2,x3))

x = x[0]
print(np.shape(x))

w = np.linalg.inv(x.T.dot(x)).dot(x.T).dot(y)
y_pred = np.dot(x,w)
print(np.mean(np.square(y_pred-y)))

(414, 4)
84.76070642266252

88.25299347781787